# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/
.env
.env.*

# VSCode / OS
.vscode/
.DS_Store
Thumbs.db

importaciones/

balance_general.txt
respaldo_contabilidad_pruebas_2026.json